<h1>New spirit</h1>

<form id="new-spirit" name="spirit">
  <div class="field">
    <label for="category"> category:</label>
    <input type="text" name="category" id="category" value="<%= category %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="base"> base:</label>
    <input type="text" name="base" id="base" value="<%= base %>" >
  </div>

  <div class="field">
    <label for="methodology"> methodology:</label>
    <input type="text" name="methodology" id="methodology" value="<%= methodology %>" >
  </div>

  <div class="field">
    <label for="age"> age:</label>
    <input type="text" name="age" id="age" value="<%= age %>" >
  </div>

  <div class="field">
    <label for="proof"> proof:</label>
    <input type="text" name="proof" id="proof" value="<%= proof %>" >
  </div>

  <div class="field">
    <label for="producer"> producer:</label>
    <input type="text" name="producer" id="producer" value="<%= producer %>" >
  </div>

  <div class="field">
    <label for="location"> location:</label>
    <input type="text" name="location" id="location" value="<%= location %>" >
  </div>

  <div class="field">
    <label for="miscellaneous"> miscellaneous:</label>
    <input type="text" name="miscellaneous" id="miscellaneous" value="<%= miscellaneous %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Spirit" />
  </div>

</form>

<a href="#/index">Back</a>