<p>
  <b>Category:</b>
  <%= category %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Base:</b>
  <%= base %>
</p>

<p>
  <b>Methodology:</b>
  <%= methodology %>
</p>

<p>
  <b>Age:</b>
  <%= age %>
</p>

<p>
  <b>Proof:</b>
  <%= proof %>
</p>

<p>
  <b>Producer:</b>
  <%= producer %>
</p>

<p>
  <b>Location:</b>
  <%= location %>
</p>

<p>
  <b>Miscellaneous:</b>
  <%= miscellaneous %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>


<a href="#/index">Back</a>