<td><%= category %></td>
<td><%= name %></td>
<td><%= base %></td>
<td><%= methodology %></td>
<td><%= age %></td>
<td><%= proof %></td>
<td><%= producer %></td>
<td><%= location %></td>
<td><%= miscellaneous %></td>
<td><%= description %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>