!!!
%html
  %head
    %title= Spirits
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    :javascript
      $(function() {
        window.router = new Spirits.Routers.SpiritsRouter({spirits: #{@spirits.to_json.html_safe}});
        Backbone.history.start();
      });
    = csrf_meta_tags

  %body
    .topbar
      .topbar-inner
        .container-fluid
          = link_to "Range Spirit Guide", spirits_path, :class => :brand
          %ul.nav
            %li= link_to "Add Spirit", new_spirit_path
    .container-fluid
      #content{"data-pjax-container" => true}
        %br
        %br
        %br
        #notice
        #spirit
        #spirits

        = yield
